.dub
docs.json
__dummy.html
docs/
/nvml-server
nvml.so
libnvml.so
nvml-server.so
nvml-server.dylib
nvml-server.dll
nvml-server.a
nvml-server.lib
nvml-server-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
compile_flags.txt
